.git
.gitignore
.gitattributes
.venv
venv
**/__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.mypy_cache
.pyright
.coverage
.coverage.*
coverage.xml
htmlcov
.env
.env.*
!.env.example
.vscode
.idea
.DS_Store
Thumbs.db
tests
*.log
*.db
*.sqlite
*.sqlite3
build
dist
*.egg-info
docs
README.md
